body {
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.title {
  font-size: 22px;
  font-weight: 600;
}
.parent-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list-item {
  padding: 12px;
  border: 1px solid #cccccc76;
  box-shadow: 0 0 10px 0 #cccccc;
  overflow: hidden;
}

.list-item img {
  max-width: 150px;
}

.item-title {
  font-size: 18px;
  margin-bottom: 20px;
}
.item-description {
  font-size: 14px;
  margin-bottom: 10px;
}

.item-description {
  -webkit-line-clamp: 4;
}

.item-rating-container {
}

.item-rating-value {
}

.item-rating-list {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  font-size: 10px;
}
.item-rating-star {
  width: 24px;
  height: 24px;
  position: relative;
  color: yellow;
}
.item-rating-star::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./star.svg") no-repeat center;
  background-size: contain;
  filter: grayscale(1);
}

.item-rating-star::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./star.svg") no-repeat center;
  background-size: contain;
  filter: none;
  clip-path: inset(0 calc(100% - var(--fill, 0%)) 0 0);
  transition: clip-path 0.3s ease;
}

.item-price {
  font-size: 20px;
}
